body{
    background-color: cornsilk;
    background-image: url('Images/7758739.png');
}
h1{
    background-color: burlywood;
    text-align: center;
    border-radius: 10px;
    margin: 40px auto;
    height: 70px;
   
    

    
}